.container
  .row
    .col-lg-12
      %h1 Add chat room
      = form_for @room do |f|
        .form-group
          = f.text_field :name, autofocus: true, class: 'form-control'
        = f.submit "Add!", class: 'btn btn-primary'
